nav {
    /* background-color: #33c3f0; 194°, 86%, 57% */
    background-color: #0d8eb5;
    padding: 2px;
}

nav a {
    text-decoration: none;
    padding-right: 50px;
    color: inherit;
}

nav a:hover {
    color: #222222;
    font-weight: 800;
}

.brand {
    font-size: 24px;
    font-weight: bold;
    color:ghostwhite;
    cursor:default;
}

.menu {
    padding-top: 7px;
    color:ghostwhite;
}

.active {
    font-weight: 800;
    color:lightgray;
}